.header-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999; /* Ensure the header stays on top of other content */
  }
  
  /* Optional: Add some padding to the body to prevent content from being hidden under the fixed header */
  body {
    padding-top: 80px; /* Adjust the value based on your header height */
  }
  .glow-on-hover {
    transition: 0.4s;
  }
  
  .glow-on-hover:hover {
    box-shadow: 0 0 10px #34deeb;
  }