* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.video-description {
    display: flex;
    justify-content: space-between;
}

.video {
    width: 70%;
}

.video-player {
    width: 100%;
}

.description {
    width: 30%;
    margin-left: 20px;
}

.image-container img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.movie-name {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.text-container p {
    color: #000;
}

.button-container button {
    padding: 10px 20px;
    background-color: #ddd;
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}

.button-container button:hover {
    background-color: #cbcbcb;
}

#community-section {
    margin-top: 20px;
}

.comments {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}

.feedback-items {
    display: grid;
    gap: 10px;
}

.feedback-item {
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.feedback-item p {
    margin: 0;
}

.feedback-item strong {
    color: #065fd4;
}