@tailwind base;
@tailwind components;
@tailwind utilities;






.slider-image {
  height: 100%; /* Adjust the slider image height as needed */
}

.animate-bounce {
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
